<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{tittle}</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <nav>
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Contact</li>
        </ul>
    </nav>

    <h1>Gym Website</h1>
    <form class="gym-form">
        <h2>Gym Registration</h2>

        <input type="text" placeholder="Full Name">
        <input type="number" placeholder="Age">
        <input type="text" placeholder="Phone Number">
        <input type="email" placeholder="Email Address">

        <select>
            <option>Select Membership</option>
            <option>Monthly</option>
            <option>3 Months</option>
            <option>6 Months</option>
            <option>1 Year</option>
        </select>

        <button type="submit">Join Now</button>
    </form>

    | #{content}
</body>

</html>