h1 {
    color: red;
    /* background-color: black; */
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    font-size: 25px;
    padding: 0px 20px;
}

p {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}