html
  head
    title= title
    link(rel="stylesheet", href="/static/style.css")
  body
  div.container
    h1= message
    ul
      each item in items
       li
        a(href='/' + item)= item
div
    p= para 